body
{
    background-color: rgb(180, 180, 180);
}
.container{
    background-color: rgb(46, 44, 44);
    margin: auto;
}

.nav{
    background-color: rgb(248, 244, 244);
    list-style: none;
    width: 100%;
    height: 90px;
    max-width: 1025px;
    margin-left: 100px;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    padding: 33px;
    display: block;
}

.nav li{
    display: inline-block;
    text-align: around;
}

ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
}
  
ul.slider{
    position: relative;
    width: 750px;
    height: 300px;
}
  
ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:rgb(88, 85, 85);
}
  
ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    text-align: center;
}
  
ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.menu{
    text-align: center;
    margin: 20px;
}
  
.menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

.car{
    margin: auto;
    width: 800px;
    padding: 30px
}

.zonas img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
    max-width: 80px;
}


.zonas .col {
    margin-bottom: 20px;
}

.zonas h3{
    color: rgb(7, 7, 7);
}

.container-infoSLP{
    color: silver;
}

.container-infoSLP p{
    padding: 0 110px 90px;
}

.container-piePag nav{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    padding: 0 100px 0;
}

#RedesS a{
    font-size: 2em;
    color: black;
}

.container-imagenLogin img{
    justify-content: center;
    max-width: 250px;
    padding: 20px 0px 15px 15px;
}
.container-imagenRegistro img{
    justify-self: center;
    max-width: 400px;
    padding: 15px 15px 15px 15px;
}

                /*TRADICIONES*/
.tradiciones .list-group{
    padding: 140px 100px;
}

.container-tradiciones{
    margin: 0;
}

.container-tradiciones .imagenTradicion img{
    justify-content: center;
    margin: 10px 175px 30px;
    width: 600px;
    height: 400px;
}

.listaTradiciones{
    margin: 100px 0px 20px 0px;
    padding: 40px 0px 60px 10px;
}
.listaT .list-group-item{
    margin: 0;
    padding: 10px 0px 15px 10px;
}

.container-tradiciones-info p{
    text-align: justify;
    color: black;
    padding: 40px;
}

.container-lugaresTuristicos{
    padding: 40px;
    background-color: rgb(249, 208, 37);
    padding-left: 30px;
    margin: 30px 25px;
}

.container-lugar-turistico{
    padding: 40px;
    background-color: rgb(37,190,249);
    padding-left: 10px;
    margin: 30px 25px;
}


.carLT ul{
    margin: 20px;
    width: 500px;
    padding: 10px;
    justify-content: start;
}

.card{
    margin: 55px 20px 10px;
    padding: 0px 0px 10px;
    justify-content: center;
}

.botonZona i{
    font-size: 3em;
    color:black;
    text-align: center;
    margin: 20px;
    padding: 34px;
}
.container-hoteles{
    padding: 40px;
    background-color: rgb(37,190,249);
    padding-left: 10px;
    margin: 30px 25px 0px 0px;
}

.container-hotel{
    padding: 40px;
    background-color: rgb(37,190,249);
    padding-left: 10px;
    margin: 30px 25px 0px 0px;
}
/*

.container-lugaresTuristicos{
    overflow-y: auto;
}

.container-lugaresTuristicos::-webkit-scrollbar{
    width: 10px;
    background: rgb(153, 123, 123);
}
.container-lugaresTuristicos::-webkit-scrollbar{
    
    background: darkred;
    border-radius: 10px;
}*/

.container-lugaresTuristicos{
    overflow-y: auto;
}
.container-lugaresTuristicos::-webkit-scrollbar{
    width: 20px;
    background: rgb(249, 208, 37);
}
.container-lugaresTuristicos::-webkit-scrollbar-thumb{
    background: rgb(233, 5, 5);
    border-radius: 20px;
}
